<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    
    #RewriteCond %{REQUEST_FILENAME} !-f
	
	# Rewrite requests to application entry point (app.php)
	RewriteRule ^(public)($|/) - [L]
	RewriteRule ^ index.php [QSA,L]
</IfModule>
