body {
	font-family: $base-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

.error {
	border-color: #ff0000 !important;
}

.notice {
	display: inline-block;
	margin-left: 20px;
}