<ol class="breadcrumb">
	<li><a href="/#">Kineo Technical Task</a></li>
	<li><a href="/#results">Results</a></li>
	<li class="active">Index</li>
</ol>

<div class="welcome">
	<hr />
	
	<p>Scelerisque vestibulum adipiscing fusce metus bibendum neque parturient sodales sem phasellus sed parturient sociis a aenean accumsan molestie a sociis non aliquam egestas. A tincidunt a nullam risus orci varius nullam vitae scelerisque a quam suspendisse a euismod consectetur duis senectus a a parturient et scelerisque parturient parturient parturient convallis. Massa tortor suspendisse fringilla a senectus placerat a mus et vestibulum velit a phasellus consectetur hac est eu.</p>
	
	<hr />
	
	<div class="clearfix"></div>
	
	<div class="container-fluid">		
		<div class="pull-right text-right">
			<!-- Filter results by constituency -->
			<label for="filter_constituency">Filter:&nbsp;</label>
			<select id="filter_constituency">
				<option value="" selected disabled>Select a constituency</option>
				<option value="1">Portsmouth South</option>
			</select>
		</div>
		
		<table class="table table-hover">
			<!-- Use handlebars to generate tabular result display -->
			<thead>
				<tr>
					<th>#</th>
					<th>Candidate</th>
					<th>Constituency</th>
					<th>Vote Count</th>
				</tr>
			</thead>
			<tbody>
				<!-- Results -->
				<tr>
					<td>1</td>
					<td>Mike Hancock</td>
					<td>Portsmouth South</td>
					<td>4324</td>
				</tr>
				
				<tr>
					<td>1</td>
					<td>Mike Hancock</td>
					<td>Portsmouth South</td>
					<td>4324</td>
				</tr>
				
				<tr>
					<td>1</td>
					<td>Mike Hancock</td>
					<td>Portsmouth South</td>
					<td>4324</td>
				</tr>
				
				<tr>
					<td>1</td>
					<td>Mike Hancock</td>
					<td>Portsmouth South</td>
					<td>4324</td>
				</tr>
				
				<tr>
					<td>1</td>
					<td>Mike Hancock</td>
					<td>Portsmouth South</td>
					<td>4324</td>
				</tr>
				
				<tr>
					<td>1</td>
					<td>Mike Hancock</td>
					<td>Portsmouth South</td>
					<td>4324</td>
				</tr>
				
				<tr>
					<td>1</td>
					<td>Mike Hancock</td>
					<td>Portsmouth South</td>
					<td>4324</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>